<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>910801388197-tmbfjf9nc32oc4f1nkjsn565ja3cqpc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910801388197-tmbfjf9nc32oc4f1nkjsn565ja3cqpc7</string>
	<key>API_KEY</key>
	<string>AIzaSyBwrYXmZzD3UoU8qMeTwdp1eDzur5m93P0</string>
	<key>GCM_SENDER_ID</key>
	<string>910801388197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpt.gisp</string>
	<key>PROJECT_ID</key>
	<string>gisp-mpt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gisp-mpt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910801388197:ios:6e617c0a2f3da454</string>
	<key>DATABASE_URL</key>
	<string>https://gisp-mpt-app.firebaseio.com</string>
</dict>
</plist>